.firstNav {
    background: #00263A;    
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.head { 
    overflow: hidden;
    background: #00263A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin:0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
  top: 0;
   

}
.banner  {
    margin:0px;
    width: 100%;
    height: 300px;
   
    background-image: url(http://localhost:3000/images/consultorio.jpg);
    background-size: 120%;
    animation: movimiento 30s infinite linear alternate;
   }
   @keyframes movimiento{
       from{background-position: bottom left;
    }to{
        background-position: top right;}
    }
.banner .capa-gradiente {
 width: 100%;
 height: 32.8%;
 position: absolute;
 background: -webkit-linear-gradient(left,black,#00263A);
 opacity: 0.5;
}

   
.div-tarjetas-aside {
  
    background-color:#00263A ; 
    margin-top: 0px;
    padding-top:50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.tarjets {
    background-color:#00263A ;
    width: 72%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.asides {
    background-color: lightgray;
    width: 25%;
    border: 1px solid gray;
}

.tarjet-list {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;    
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    width:28%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    
    transition: all 0.25s;
}
    
.tarjet-list p {
    visibility: hidden;
}
.tarjet-list:hover p{
    visibility: visible;
    color:black
}


.tarjet-list a{
    text-decoration: none;
    color: black;
}


.tarjet-list:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.9);
    
}
.tarjet-list name {
    font-weight: bold ;
}
.tarjet-list img {
    width: 100%;

}
.ofertas {
    height: 40px;
    border: 1px solid gray;
}
.publicidades {
    
    height: 40px;
    border: 1px solid gray
}
.linksEmpresas {
       
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray
    
}
.linksEmpresas h2{
       
    margin: 6px;
    display: block;
    width:100%;
}
.linkEmpr {
    margin:8px 5px;
    padding: 2px;
    background-color: white;
    display: block;
    flex-wrap: wrap;
  border-radius: 10px;
}
.linkEmpr h6{
   margin:2px;
   color:#00263A;
    visibility: hidden;
   text-align: center;
   transition: all .5s;
}
.linkEmpr:hover h6{
    visibility: visible;
    text-align: center;
    transition: all .1s;
    flex-direction: column;
    margin: 0px;
   
 }
.banner2 {
    display: flex;
    justify-content: space-evenly;
    margin: 12px auto;
    width: 100%;
    height: 100px;
    border: 1px solid gray
}
.recomendaciones {
    display: flex;
    justify-content: space-evenly;
    margin: 12px auto;
    width: 100%;
    height: 100px;
    border: 1px solid gray
}
.entidadesOdontologicas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 12px;
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
        
}
.entidadesOdontologicas h1 {
    display: flex;
    justify-content: left;
    margin: 12px auto;
    padding: 12 px;
    width: 100%;
    
    
}
.containerEntidades {
    display: flex;
    justify-content: left;
    margin: 12px auto;
    width: 100%;
    
}

.entidad {
    display: block;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: 12px auto;
    width: 100%;
    
}
.entidad h6{
    margin:2px;
     visibility: hidden;
    text-align: center;
    transition: all .1s;
 }
 .entidad:hover h6{
     visibility: visible;
     text-align: center;
     transition: all .5s;
     flex-direction: column;
     margin: 0px;
  }

    


    

.footer {

    height: 100px;
    background: #00263A;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.containerCards {
    display: flex;
    margin: 12px;
    flex-wrap: wrap;
}
.capacitacionCards {
    display: flex;
    margin: 20px;
    width:40%;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.25s;
}
.capacitacionCards:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.3);
}
.capacitacionCards a {
    text-decoration: none;
    color: black;
    margin: 10px;

}
.imgCurso img{
    width: 300px;}


.dataCurso h2{
   margin-left:12px;
  
    text-align: left;
   
}
.dataCurso h4 {
    margin-left:12px;
    text-transform: capitalize;
    text-align: left;
    color: gray;
}
.dataCurso h4.dato {
    text-decoration: none;
    text-align: left;
    color: gray;
    font-weight: lighter;
}
.dataCurso p { 
    text-decoration: none;  
 }



 
 .youtubeCards {
    display: flex;
    margin: 12px;
    width:48%;   
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.25s;
}
.youtubeCards:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(248, 247, 247, 0.6);
}
.youtubeCards a {
    text-decoration: none;
    color: black;
    margin: 10px;

}
.youtubeCards img {
    margin:0px;
    padding:0px;
    width:100%;
}
.datosYoutubeCh p{
    display: inline-block;
    width: auto;
    margin: 10px ;
    text-align: justify;
    font-size: 12px;
}
.datosYoutubeCh h4{
    display: inline-block;
    width: auto;
    margin: 10px 0px;
    margin-left: 6px;
    text-align: justify;
    font-size: 16px;
}
.containeryoutubeCards{    
    width: 72%;
    margin:0px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    margin: 12px;
    flex-wrap: wrap;      
    justify-content: space-evenly;
   
}
.containeryoutubeCardsTitle {    
    
    display: inline-block;
    color: white;
    font-size: 28px;
    width:100%;
    margin:20px;
   
}
.containeryoutubeCardsTitle h1{    
      
    color: white;
    font-size: 28px;
   width: 100%;
    
}
.publicidades{
    color: white;
    width: 25%;
    background-color: black;

}
.cards-aside-ytch {
  
    background-color:black ; 
    margin-top: 0px;
    padding-top:50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 


