
.firstNav  {
    
    
    background: #00263A;  
   
    color: white;
    font-weight: bold;
    font-size: 16px;
   text-align: right;
   margin:12 px;
   display: block;
}
.firstNav  a {
    
  
    background: #073650; 
    padding: 6px;    
    border-radius: 8px;
    border: 1px solid white;
    margin: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;  
}   
.firstNav > li {
    float:left;
}
.firstNav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
.firstNav li:hover > ul {
    display: block;
}





.head { 
    overflow: hidden;
    background: #00263A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin:0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 10;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}
   
.head img{
    height: auto;
    width: 30%;
    z-index: 10 ;
}

.banner  {
    margin:0px;
    width: 100%;
    height: 300px;
    z-index: 10 ;
    background-image: url(http://localhost:3000/images/consultorio.jpg);
    background-size: 120%;
    animation: movimiento 30s infinite linear alternate;
   }
   @keyframes movimiento{
       from{background-position: bottom left;
    }to{
        background-position: top right;}
    }
.banner .capa-gradiente {
 width: 100%;
 z-index: 11 ;
 height: 300px;
 position: absolute;
 background: -webkit-linear-gradient(left,black,#00263A);
 opacity: 0.5;
 z-index:9;
}

   
.div-tarjetas-aside {
  
    background-color:#00263A ; 
    margin-top: 0px;
    padding-top:50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.tituloPagina {
    background-color:#00263A ; 
    margin: 0px;  
    padding: 0px;
}
.tituloPagina h1{
    color: white;
   text-align: initial;
    margin: 0px;
    margin-left: 12px;
}
  
.tarjets {
    background-color:#00263A ;
    width: 72%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.asides {
    background-color: lightgray;
    width: 25%;
    border: 1px solid gray;
}

.tarjet-list {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;    
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    width:28%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    
    transition: all 0.25s;
}
    
.tarjet-list p {
    visibility: hidden;
}
.tarjet-list:hover p{
    visibility: visible;
    color:black
}


.tarjet-list a{
    text-decoration: none;
    color: black;
}


.tarjet-list:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.9);
    
}
.tarjet-list name {
    font-weight: bold ;
}
.tarjet-list img {
    width: 100%;

}
.ofertas {
    height: 40px;
    border: 1px solid gray;
    overflow: hidden;
}
.publicidades {
    
    height: 40px;
    border: 1px solid gray
}
.linksEmpresas {
       
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    justify-content: space-evenly;
    
}
.linksEmpresas h2{
       
    margin: 6px;
    display: block;
    width:100%;
}
.linkEmpr {
    margin:3px 3px;
    padding: 2px;
    background-color: white;
    display: block;
    width:20%;
    flex-wrap: wrap;
    border-radius: 10px;
}
.linkEmpr img{
    margin:auto;
    padding:auto;
    align-items: center;
    width:100%;
    height: auto;
    
 }
.linkEmpr h6{
   margin:2px;
   color:#00263A;
    visibility: hidden;
   text-align: center;
   transition: all .1s;
}

.linkEmpr:hover h6{
    visibility: visible;
    text-align: center;
    transition: all .1s;
    flex-direction: column;
    margin: 0px;
   
 }
.banner2 {
    display: flex;
    justify-content: space-evenly;
    margin: 12px auto;
    width: 100%;
    height: 100px;
    border: 1px solid gray
}
.recomendaciones {
    display: block;
    justify-content: space-evenly;
    margin: 12px auto;
    width: 100%;
    
    border: 1px solid gray
}
.recomendaciones h1 {
    font-size:32px;
}
.recomendacion img{
    width: 100%;
    margin:2 px;
    padding:12 px;
}

.recomendacion h2 {
   margin: 12px 12px;
   margin-top: 15px;
    font-size: 26px;
    color:white ;
    
}
.div-recomendacion{
    display: flex;
    width: 100%;
    margin:12 px ;
    padding: 12 px;
}
.recomendacion {
    margin:12 px;
    
    background-color:#00263A ;
}

.entidadesOdontologicas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 12px;
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 20px;
        
}
.entidadesOdontologicas h1 {
    display: flex;
    justify-content: left;
    margin: 6px;
    padding: 12 px;
    width: 100%;
    
    
}
.containerEntidades {
    display: flex;
    justify-content: left;
    margin: 12px auto;
    flex-wrap: wrap;
    width: 100%;
    
}

.entidad {
    display: block;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: 6px;
    width: 10%;
    
}
.entidad h6{
    margin:2px;
     visibility: hidden;
    text-align: center;
    transition: all .1s;
 }
 .entidad:hover h6{
     visibility: visible;
     text-align: center;
     transition: all .5s;
     flex-direction: column;
     margin: 0px;
  }
  .entidad img{
    width: 80%;
  }  


    

.footer {
    display: inline-block;
    background: #00263A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 200px;
}
.footer-item {
    display: flex;
    background: #00263A;
    align-items: right;
    flex-wrap: wrap;
    height: 100px;
       
}
.footer-item img{
height:35%;
    width: 15%;
   
   
}
.footer-item p{
    background: #00263A;
    color: white;
    font-size: 16px;
}
.bottomNav {
    background: #00263A;
    color: white;
    font-size: 16px;

    
}
.bottomNav a{
    background: #073650; 
    padding: 6px;    
    border-radius: 8px;
    border: 1px solid white;
    margin: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.containerCards {
    width: 70%;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
.capacitacionCards {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    width:100%;    
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.25s;
}
.capacitacionCards:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.3);
}
.containerCards a {
    display:block;
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100%;

}
.imgCurso {
    width:15%;
   
}

.imgCurso img {
    width: 100%;
    
}


       
.dataCurso h2{
   margin-left: 6px;
  font-size:20px;
    text-align: left;
   
}
.dataCurso h4 {
    margin-left:12px;
    text-transform: capitalize;
    text-align: left;
    color: gray;
}


.dataCurso p { 
    margin:6px;
    margin-left: 10px;
    text-decoration: none;  
    flex-direction: row;
    font-size : 14px;
 }
 


 
 .youtubeCards {
    display: flex;
    margin: 12px;
    width:48%;   
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.25s;
}
.youtubeCards:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(248, 247, 247, 0.6);
}
.youtubeCards a {
    text-decoration: none;
    color: black;
    margin: 10px;

}
.youtubeCards img {
    margin:0px;
    padding:0px;
    width:100%;
}
.datosYoutubeCh p{
    display: inline-block;
    width: auto;
    margin: 10px ;
    text-align: justify;
    font-size: 12px;
}
.datosYoutubeCh h4{
    display: inline-block;
    width: auto;
    margin: 10px 0px;
    margin-left: 6px;
    text-align: justify;
    font-size: 16px;
}
.containeryoutubeCards{    
    width: 72%;
    margin:0px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    margin: 12px;
    flex-wrap: wrap;      
    justify-content: space-evenly;
   
}
.containeryoutubeCardsTitle {    
    
    display: inline-block;
    color: white;   
    width:100%;
    margin:20px;
   
}
.containeryoutubeCardsTitle h1{    
      
    color: white;
    font-size: 28px;
   width: 100%;
    
}
.publicidades{
    color: white;
    width: 25%;
    background-color: black;

}
.cards-aside-ytch {
  
    background-color:black ; 
    margin-top: 0px;
    padding-top:50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
.datosCardInsumos h4{
    font-size: 22px;
    margin-left:6px;
}
.insumosCards {
    display: flex;
    margin: 10px;
    width:40%;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.25s;
}
.insumosCards:hover {
    transform: translateY(-15px);
    box-shadow: 12px 12px 20px rgba(0,0,0,0.3);
}
.insumosCards a {
    text-decoration: none;
    color: black;
    margin-left: 6px;

}
.datosCardInsumos img {
    width: 180px;
    margin: 0px;
}

.cardInsumosTitle {
    font-size: 20px;
    margin-left: 10px;
  
}


@media screen and (max-width: 768px) {
    
    .firstNav {       
        height:40px;
        font-size: 12px;      
    }
    .firstNav a {     
            
        padding: 3px;    
        border-radius: 8px;
        border: 1px solid white;
        margin: 3px;
        font-size: 12px;
        
    }
    .head p { 
        font-size: 14px;
        margin: 10px;
       }
    .firstNav img {
       
        height: 40%;
        
    }
    .div-tarjetas-aside {
        margin-top: 0px;
        padding: top 3px;
                
    }
    .tarjets {
        width: 72%;
        
    }
    .asides {
        width: 25%;
       
    }
    
    .tarjet-list {
        border-radius: 20px;    
        box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
        width:40%;
        margin: 10px;
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
            
    }        
    .tarjet-list h1 {
        font-size: 18px;
        font-weight: bold;
    }    
          
    .tarjet-list:hover {
        transform: translateY(-15px);
        box-shadow: 12px 12px 20px rgba(0,0,0,0.9);
        
    }
   
  
    .tarjet-list img {
        width: 100%;
    
    }
    .tarjet-list p {
        font-size: 12px;
    
    }
    .linksEmpresas h2{
       font-size: 18px;
        margin: 3px;
    }
    .linkEmpr {
        margin:1px;
        padding: 2px;
        background-color: white;
        display: block;
        width:20%;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    .banner  {
        height: 200px;      
        background-size: 160%;
       }
       .banner .capa-gradiente {       
        height: 200px;
       }
       
       .entidadesOdontologicas h1{
           font-size: 20px;
       }
       .entidad img{
        width:100%;
    }
    .entidad h6{
       font-weight: normal;
    }
    .youtubeCards {
        display: flex;
        margin: 6px;
        width:100%;   
    } 
       
    .datosYoutubeCh p{
        display: inline-block;
        width: auto;
        margin: 6px 10px;
        text-align: justify;
        font-size: 11px;
    }
    .datosYoutubeCh h4{
        margin: 6px 0px;
        margin-left: 6px;
        text-align: justify;
        font-size: 16px;
    }
    .containeryoutubeCards{    
        width: 70%;      
        margin: 8px;
      
    }
    .containeryoutubeCardsTitle {    
        display: inline-block;
        color: white;   
        width:100%;
        margin:6px;
       
    }
    .containeryoutubeCardsTitle h1{    
          
        color: white;
        font-size: 20px;
       width: 100%;
        
    }
    .cards-aside-ytch {
        margin-top:0px;
        padding-top: 8px;
    }
    .publicidades {
        width:100%;
    }
    
    
    
    

}

@media screen and (max-width: 425px) {
   
    .firstNav {       
        height:40px;
        font-size: 12px;      
    }
    .firstNav a {     
            
        padding: 1px 3px;    
        border-radius: 6px;
        border: 1px solid white;
        margin: 3px;
        font-size: 11px;
        
    }
    .head img {
      width:40%;
        
    }
    .head p { 
        font-size: 12px;
        margin: 10px;
       }
    
    
    .div-tarjetas-aside {
        margin-top: 0px;
        padding: top 3px;
                
    }
    .tarjets {
        width: 100%;
        
    }
    .asides {
        width: 100%;
       
    }
    
    .tarjet-list {
        border-radius: 15px;    
        box-shadow: 0 2px 2px rgba (0, 0, 0, 0.8);
        width:42%;
        margin: 10px;
        padding:2px;
        display: flex;
        flex-wrap: wrap;
            
    }        
    .tarjet-list h1 {
        font-size: 14px;
        font-weight: bold;
    }    
          
    .tarjet-list:hover {
        transform: translateY(-15px);
        box-shadow: 12px 12px 20px rgba(0,0,0,0.9);
        
    }
   
  
    .tarjet-list img {
        width: 80%;
    
    }
    .tarjet-list p {
        font-size: 12px;
    
    }
    .linksEmpresas h2{
       font-size: 15px;
        margin: 3px;
    }
    .linkEmpr {
        margin:1px;
        padding: 2px;
        background-color: white;
        display: block;
        width:10%;
        flex-wrap: wrap;
        border-radius: 8px;
    }
    .banner  {
        height: 100px;      
        background-size: 180%;
       }
       .banner .capa-gradiente {       
        height: 100px;
       }
       
       .entidadesOdontologicas h1{
           font-size:15px;
       }
       .entidad img{
        width:100%;
    }
    .entidad h6{
       font-weight: normal;
    }
    .entidad {
        
        margin: 3px;
        width: 15%;
    }

    .youtubeCards {
        display: flex;
        margin: 6px;
        width:100%;   
    } 
       
    .datosYoutubeCh p{
        display: inline-block;
        width: auto;
        margin: 6px ;
        text-align: justify;
        font-size: 11px;
    }
    .datosYoutubeCh h4{
        margin: 6px 0px;
        margin-left: 6px;
        text-align: justify;
        font-size: 14px;
    }
    .containeryoutubeCards{    
        width: 90%;      
        margin: 8px;
      
    }
    .containeryoutubeCardsTitle {    
        display: inline-block;
        color: white;   
        width:100%;
        margin:6px;
       
    }
    .containeryoutubeCardsTitle h1{    
          
        color: white;
        font-size: 14px;
       width: 100%;
        
    }
    .cards-aside-ytch {
        margin-top:0px;
        padding-top: 8px;
    }
    
    

}